<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <style>
        body {
            background-color: black;
            color: white;
        }
    </style>
    <title>Comunicación - EducaWeb Trantor</title>
</head>
<body>
    <div class="head">
        <div class="TRANTOR">
            <a href="#">TRANTOR</a>
        </div>
        <nav class="navbar">
            <a href="http://127.0.0.1:5000/">Inicio</a>
            <a href="http://127.0.0.1:5000/">Cursos</a>
            <a href="planes">Planes</a>
            <a href="login">Perfil</a>
        </nav>
    </div>

    <header class="content header" style="height: 60vh !important; background: url(/static/img/comunicacion.jpg) no-repeat center; background-size: cover">
        <h2 class="title" style="color: #000000;">Comunicación</h2>
    </header>

    <section class="content description">
        <h3 class="title" style="font-size: 60px;" style="margin-bottom: 40px;" style="font-weight: 600;">DESCRIPCIÓN</h3>
        <p>
            Sumérgete en el poder de la comunicación con nuestro curso especializado. Descubre cómo expresarte de manera clara, persuasiva y efectiva en cualquier situación. 
            Desde mejorar tus habilidades de escritura hasta perfeccionar tus habilidades de presentación y expresión oral, nuestro curso te brindará las herramientas y técnicas necesarias para destacarte en el arte de la comunicación. Ya sea que desees mejorar tus habilidades de comunicación para tu carrera profesional, tus relaciones personales o tu crecimiento personal, este curso te proporcionará las bases sólidas para convertirte en un comunicador excepcional. ¡Únete a nosotros y desbloquea tu potencial para transmitir tus ideas de manera efectiva y persuasiva!</p>
    </section>

    <section class="content pdf">
        <h3 class="section-title">PDF</h3>
        <p>Aquí puedes descargar el PDF del curso de Matemática:</p>
        <a href="../static/pdf/comunicacion_pdf.pdf" class="btn" download>Descargar PDF</a>
    </section>

    <section class="content images">
        <h3 class="section-title">Imágenes</h3>
        <img src="static/img/.png" alt="Imagen 1">
    </section>

    <section class="content videos">
        <h3 class="section-title">Clases</h3>
        <video width="760" height="515" controls>
            <source src="static/video/gemplei.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </section>

</body>
</html>
