<htm>
    <head>
      <title>EducaWeb Trantor</title>
      <style>
        .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #FF5733;
          color: black;
          padding: 30px;
        }
        .header__item {
          cursor: pointer;
        }
        .body__item {
          display: none;
        }
        .body__item__active {
          display: block;
        }
      </style>
    </head>
    <body>
      <header class="header">
        <img src="/static/images/trantor.png" alt="Logo" style="height: 150px;" />
        <div class="header__item" onclick="showContent(0)">Cursos</div>
        <div class="header__item" onclick="showContent(1)">Perfil</div>
      </header>
      <div class="body">
        <div class="body__item" id="section0">
          <h1>Curso disponibles</h1>
        </div>
        <div class="body__item" id="section1">
          <h1> Crear Usuario </h1>
          <form
            action="create-employee"
            method="POST"
            enctype="multipart/form-data"
          >
            <div>
              <label for="firstname">First Name:</label>
              <input type="text" name="firstname" id="firstname" />
            </div>
            <div>
              <label for="lastname">Last Name:</label>
              <input type="text" name="lastname" id="lastname" />
            </div>
            <div>
              <label for="email">email:</label>
              <input type="text" name="email" id="email" />
            </div>
            <div>
              <label for="fechanacimiento">Fecha de nacimiento:</label>
              <input type="date" name="fechanacimiento" id="fechanacimiento" />
            </div>
            <div>
              <label for="image">Photo:</label>
              <input type="file" name="image" id="image" />
            </div>
            <div>
              <input type="submit" value="Create" />
            </div>
          </form>
        </div>
      </div>
      <script>
        function showContent(index) {
          const sections = document.querySelectorAll('.body__item')
          for (let i = 0; i < sections.length; i++) {
            const section = sections[i]
            if (i === index) {
              section.classList.add('body__item__active')
            } else {
              section.classList.remove('body__item__active')
            }
          }
        }
      </script>
    </body>
  </htm>
