<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>EducaWeb Trantor</title>
</head>

<body>
    <div class="head">
        <div class="TRANTOR">
            <a href="#">TRANTOR</a>
        </div>
        <nav class="navbar">
            <a href="http://127.0.0.1:5000/">Inicio</a>
            <a href="http://127.0.0.1:5000/">Cursos</a>
            <a href="planes">Planes</a>
            <a href="perfil">Perfil</a>
            <a href="login">Iniciar Sesion</a>
        </nav>
    </div>

    <header class="content header">
    </header>

    <section class="content about">

        <h2 class="title">Nosotros</h2>
        <p>
            Somos una empresa líder en educación en línea que ofrece cursos de programación, comunicación y matemáticas. Nuestros planes Freemium y Premium brindan a los estudiantes opciones flexibles para acceder a contenido de alta calidad. Con nuestro enfoque práctico y actualizado, los estudiantes pueden aprender a su propio ritmo y obtener certificaciones que impulsarán su crecimiento personal y profesional. Nuestra comunidad de aprendizaje colaborativa y recursos exclusivos garantizan una experiencia enriquecedora. Únete a nosotros y descubre cómo nuestros cursos pueden abrirte las puertas a nuevas oportunidades en el mundo digital.
        </p>

        </div>
    </section>


    <section class="content sau">

        <h2 class="title">Cursos</h2>
        <p>Ofrecemos cursos online en matemáticas, programación y comunicación. Aprende habilidades fundamentales con instructores expertos y acceso a contenido exclusivo. ¡Inscríbete ahora!        </p>

        <div class="box-container">
            <div class="box">
                <div class="image-container">
                    <img src="/static/img/calculadorta.png" alt="Curso de Matemática">
                </div>
                <h3>Matemática</h3>
                <a href="mate" class="btn">Ver Curso</a>
                <p></p>
            </div>
            
            <div class="box-container">
                <div class="box">
                    <div class="image-container">
                        <img src="/static/img/libro.png" alt="Curso de Comunicación">
                    </div>
            <h3>Comunicación</h3>
            <a href="comu" class="btn">Ver Curso</a>
            <p></p>
        </div>

            <div class="box-container">
                <div class="box">
                    <div class="image-container">
                        <img src="/static/img/python.png" alt="Curso de Programación">
                    </div>
            <h3>Programación</h3>
            <a href="progra" class="btn">Ver Curso</a>
        <p></p>
        </div>

        </div>

    </section>


    <section class="content price">

        <article class="contain">
            <h2 class="title">Planes</h2>
            <div class="box-container">

                <div class="box-container">
                <div class="box">
                    <div class="image-container">
                        <img src="/static/img/dolarno.png" alt="Fremium">
                    </div>
                    <h3>Fremium</h3>
                </div>
                
                <div class="box-container">
                    <div class="box">
                        <div class="image-container">
                            <img src="/static/img/dolar.png" alt="Premium">
                        </div>
                <h3>Premium</h3>
            </div>
        </article>
    
    </section>
    
    <section class="content contact">
        <figure class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1102.5172021540711!2d-77.02287917346422!3d-12.135490073747622!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sutec!5e0!3m2!1ses!2spe!4v1684115630557!5m2!1ses!2spe"
                width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </figure>
    </section>
</body>
</html>
