<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <style>
        body {
            background-color: black;
            color: white;
        }
    </style>
    <title>Matemática - EducaWeb Trantor</title>
</head>
<body>
    <div class="head">
        <div class="TRANTOR">
            <a href="#">TRANTOR</a>
        </div>
        <nav class="navbar">
            <a href="http://127.0.0.1:5000/">Inicio</a>
            <a href="http://127.0.0.1:5000/">Cursos</a>
            <a href="planes">Planes</a>
            <a href="perfil">Perfil</a>
            <a href="login">Iniciar Sesion</a>
        </nav>
    </div>

    <header class="content header" style="height: 60vh !important; background: url(/static/img/sdasdasdasd.jpg) no-repeat center; background-size: cover">
        <h2 class="title">Matemática</h2>
    </header>

    <section class="content description">
        <h3 class="title" style="font-size: 60px;" style="margin-bottom: 40px;" style="font-weight: 600;">DESCRIPCIÓN</h3>
        <p>
            Explora el fascinante mundo de las matemáticas con nuestro curso especializado. Desde conceptos fundamentales hasta aplicaciones prácticas, te sumergirás en un viaje de descubrimiento y aprendizaje. Nuestros instructores expertos te guiarán a través de ejercicios interactivos, problemas desafiantes y aplicaciones del mundo real para fortalecer 
            tus habilidades numéricas y desarrollar tu pensamiento lógico. Ya sea que desees mejorar tus conocimientos matemáticos para el trabajo, los estudios o simplemente por curiosidad, este curso te proporcionará las herramientas necesarias para tener éxito en el emocionante campo de las matemáticas. ¡Únete a nosotros y desbloquea las infinitas posibilidades que las matemáticas tienen para ofrecer!
        </p>
    
        </section>
    
        
        <section class="content images">
            <h3 class="section-title">Vista Previa</h3>
            <div class="image-container">
                <img src="static/img/matematica_vistaprevia.png" alt="Imagen 1" style="filter: blur(3px)" width="500" height="500">
                <div class="overlay"></div>
            </div>
        </section>
        
    
    
    <section class="content pdf">
        <h3 class="section-title">PDF</h3>
        <p>Aquí puedes descargar el PDF del curso de Matemática:</p>
        <a href="../static/pdf/matematica_pdf.pdf" class="btn" download>Descargar PDF</a>
    </section>

    <section class="content videos">
        <h3 class="section-title">Clases</h3>
        <video width="760" height="515" controls>
            <source src="static/video/mate_video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </section>

</body>
</html>
