<!DOCTYPE html>
<html>
<head>
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
    <h1>Perfil de Usuario</h1>
    <div class="profile">
        <img src="{{ url_for('static', filename='user.png') }}" alt="Foto de perfil">
        <h2>{{ usuario.nombre }} {{ usuario.apellido }}</h2>
        <p><strong>Email:</strong> {{ usuario.email }}</p>
        <p><strong>Universidad:</strong> {{ usuario.universidad }}</p>
        <p><strong>Ciclo:</strong> {{ usuario.ciclo }}</p>
        <p><strong>Carrera:</strong> {{ usuario.carrera }}</p>
        <p><strong>Fecha de Nacimiento:</strong> {{ usuario.fecha_nacimiento }}</p>
    </div>
</body>
</html>
