<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <style>
        body {
            background-color: black;
            color: white;
        }
    </style>
    <title>Programación - EducaWeb Trantor</title>
</head>
<body>
    <div class="head">
        <div class="TRANTOR">
            <a href="#">TRANTOR</a>
        </div>
        <nav class="navbar">
            <a href="http://127.0.0.1:5000/">Inicio</a>
            <a href="http://127.0.0.1:5000/">Cursos</a>
            <a href="planes">Planes</a>
            <a href="login">Perfil</a>
        </nav>
    </div>

    <header class="content header" style="height: 60vh !important; background: url(/static/img/programacion.jpg) no-repeat center; background-size: cover">
        <h2 class="title" style="color: #ffffff;">Programación</h2>
    </header>

    <section class="content description">
        <h3 class="title" style="font-size: 60px;" style="margin-bottom: 40px;" style="font-weight: 600;">DESCRIPCIÓN</h3>
        <p>Sumérgete en el apasionante mundo de la programación con nuestro curso especializado. Desde los conceptos básicos hasta los aspectos más avanzados, te guiaremos a través de un viaje de aprendizaje práctico y estimulante. 
            Aprenderás los fundamentos de la lógica de programación, la sintaxis de los lenguajes más populares y las mejores prácticas de desarrollo de software.  Ya sea que desees iniciar una carrera en programación o simplemente adquirir habilidades técnicas para potenciar tu perfil profesional, este curso te abrirá las puertas a un mundo de oportunidades en el campo de la programación. ¡Únete a nosotros y despierta tu creatividad y potencial para construir soluciones innovadoras a través del poder del código!</p>
    </section>

    <section class="content pdf">
        <h3 class="section-title">PDF</h3>
        <p>Aquí puedes descargar el PDF del curso de Matemática:</p>
        <a href="../static/pdf/gCockss.pdf" class="btn" download>Descargar PDF</a>
    </section>

    <section class="content images">
        <h3 class="section-title">Imágenes</h3>
        <img src="static/img/.png" alt="Imagen 1">
    </section>

    <section class="content videos">
        <h3 class="section-title">Clases</h3>
        <video width="760" height="515" controls>
            <source src="static/video/gemplei.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </section>

</body>
</html>
